:root{
    --primario: #000000;
    --Secundario: #0da7eb;
    --terciario: #1e90ff;
    --cuaternario:#0f151c;
    --fondo:#ffffff;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

/* Globales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{

}

main{

}

aside{

}

/*Clases Globales Utiles*/
.CentrarFlex{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* >>> [[Clases y estilos Inicio Sesión]] <<< */
